body{
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("simran.jpeg");;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: sans-serif;
    
}


.card {
    position: fixed;
    right: 32px;          
    top: 50%;
    transform: translateY(-50%);

    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(6px);

    width: 220px;         
    height: auto;         
    border-radius: 14px;
    padding: 0.8rem;
    text-align: center;

    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.25);
}


.card img{
    width: 100%;
    max-width: 180px;   
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}

.bottom-card{
    margin: 0.9rem;
}

h3{
    font-size: 0.95rem;
    margin-top: 0.6rem;
}

p{
    font-size: 0.8rem;
}


@media (max-width: 768px){
    .card{
        right: 50%;
        top: auto;
        bottom: 20px;
        transform: translateX(50%);
        width: 200px;
    }
}
