.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}