*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    min-height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.65)
      ),
      url("bg-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 32px;
}

.logo{
    width: 170px;  
    height: auto;
    display: block;
}

.nav-right select{
    border: 1px solid rgb(56, 45, 45);
    border-radius: 3px;
    padding: 8px 16px;
    background: none;
    color: white;
    font-weight: 400;
    text-align: center;
}
.nav-right button{
    margin: 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    padding: 8px 16px;
    font-weight: 600;
}



#content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15%;
    
}



.head{
    font-size: 3.5rem;
    font-weight: 900;
}

.hero-title span{
    display: block;
}
.hero-title p{
    margin: 15px auto;
    font-weight: 600;
    font-size: 23px;
    padding: 2px;
}


.hero-terms h3{
    margin-top: 30px;
    font-weight: 450;
    font-size: medium;
}

.hero-terms input{
    margin: 20px auto;
    width: 100%;
    max-width: 380px;
    background: none;
    padding: 20px;
    border: 1px solid rgb(91, 83, 83);
    border-radius: 3px;

}
input::placeholder{
    color: rgb(221, 209, 209);
}
.hero-btn{
    padding: 20px;
    background-color: red;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 3px;

}

 