




body{
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 20px;
    background-color: #F5F5F5;
}

/* full-section */
#row{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

/* column-1 properties for div-1 & div-2 column wise */
#column-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;


}

/* div-1 */

#first{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 291px;
    width: 180px;
    background-color: #FAEDE1;
    text-align: center;
    border-radius: 16px;
    
}

.first-img{
    width: 100%;
    height: auto;
}
.box{
    max-width: 100%;
}

.top{
    font-weight: 550;
    font-size:xx-large;
}
.first-span{
    color: #7754D7;
}


/* div-2 */
#sec-con{
    height: 291px;
    width: 180px;
    background-color: #FFCC69;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 12px;
    gap: 12px;
    border-radius: 16px;
}

.box1 h2{
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
}
.box1 span{
    display: block;
}

.box2{   
    border-radius: 18px;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.sec-img{
    width: 90%;
    height: auto;
    
}


/* column-2 div-1 */
#second{
    height: 262px;
    width: 550px;
    background-color: #7551DB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    border-radius: 16px;

}
.sec-first h2{
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 15px;
}

.sec{
    display: inline-block;
    font-weight: 450;
}
.second-span{
    color: #FFCB71;
}
.second-img{
    width: 180px;
}
.sec-first p{
    font-size: 19px;
    opacity: 0.9;
    
}

/* column 2 --> part c-d */

#column-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.column-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 550px;
    gap: 20px;
    
}

.column-e{
    height: 190px;
    width: 240px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    border-radius: 16px;
    overflow: hidden;
}

.e-img{
    border-radius: 16px;
    max-width: 100%;
}
.e1{
    width: 142%;
    height: auto;
}

.e-h2{
    text-align: left;

}
.e-h2 h2{
    line-height: 1.2;
    font-weight: 650;
}
.e-h2 span{
    display: block;
}
.column-f{
    height: 198px;
    width: 258px;
    background-color: #FFCC69;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 12px;
    border-radius: 16px;
    overflow: hidden;
}

.f-h2{
    text-align: left;
}
.f-h2 h2{
    line-height: 1.2;
    font-weight: 650;
}
.f-h2 span{
    display: block;
}
.f-img{
    border-radius: 16px;
    max-height: 40%;
    max-width: 100%;
    object-fit: contain;
}
.f1{
    height: auto;
    width: 220px;
}



.column-g{
    display: flex;
    width: 550px;   
    gap: 40px;
}

.g-left-wrap{
    width: 240px;
}


.g-first{
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 12px;
    border-radius: 16px;
}

.g-first h1{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 900;
    margin: 0;
}
.g-first p{
    font-size: 16px;
    opacity: 0.6;
    color: #2F2F2F;
}

.g-img{
    max-width: 100%;
    max-height: 100%;
    padding: 16px;
}
.g1{
    height: auto;
    width: 80%;
}

.g-h2{
    margin: 0;
    display: flex;
    align-items: center;
    /* text-align: left; */
    text-align: left;
}
.g-h2 h2{
    font-size: 45px;
    font-weight: 400;
}
.g-h2 span{
    display: block;
}
.g-sec{
    flex: 1; 
}



.g-second{
    width: 210%;
    height: 210px;
    background-color: #7551DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 16px;
    color: white;
}

.g2-img{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.g2{
    width: 100%;
    height: 100%;
    
}



#third{
    height: 450px;
    width: 259px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    background-color: #DCD0FC;
    border-radius: 16px;
    padding: 16px;
    gap: 12px;
    overflow: hidden;
}
#third h2{
    font-size: 32px;
    font-weight: 550;
    line-height: 1.2;
}
#third span{
    display: inline-block;
    font-weight: 550;

}
.h-img{
    max-width: 100%;
}

.third-img{
    width: 167%;
    height: 230px;
}

#third p{
    font-size: 16px;
    font-weight: 300;
}